In [1]:
#dictionary example
capitals={"USA":"washington D.C","France":"Paris","INDIA":"New Delhi"}
print(type(capitals))

<class 'dict'>

In [2]:
#d={} empty dictionary
#numNames={1:"One",2:"Two",3:"Tree"} int key,string value
#decName={1.5:"one and half",2.5:"Two and half",3.5:"three and half"} float key,string value
#items={("Parker","Reynolds","camlin"):"pen",("LG","wirlpool","samsung"):"Refrigetor"} tuple key,string value
#romanNum={'I':1,'II':2,'III':3} string key, int value

In [3]:
numName={1:"one",2:"two",3:"three",2:"two",1:"two",2:"five"}
print(numName)

{1: 'two', 2: 'five', 3: 'three'}

In [4]:
#A dictionary can also be created using the dict() constructor method.
#example=dict()constructor Method
#emptydict=dict()

In [5]:
emptydict=dict()
print(emptydict)

{}

In [6]:
numdict=dict(I="one",II="two",III="three")
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [7]:
#Access dictionary
numNames={1:"one",2:"two",3:"three"}
print(numNames[1],numNames[2],numNames[3])

one two three

In [8]:
#get method
numNames={1:"one",2:"two",3:"three"}
print(numNames.get(1),numNames.get(2),numNames.get(3),numNames.get(4))

one two three None

In [9]:
#Access dictionary using for Loop---use the for loop to iterate a dictionary in the python sript.
#example
capitals={"USA":"washington D.C","France":"paris","India":"New Delhi"}
for i in capitals:
    print(i,end=" ")

USA France India

In [10]:
capitals={"USA":"washington D.C","France":"paris","India":"New Delhi"}
print(capitals.items())
for i,j in capitals.items():
    print(i,j,end=" ")

dict_items([('USA', 'washington D.C'), ('France', 'paris'), ('India', 'New Delhi')])
USA washington D.C France paris India New Delhi

In [11]:
capitals={"USA":"washington D.C","France":"paris","India":"New Delhi"}
print(capitals.keys())
for i,j in capitals.items():
    print(i,j,end=" ")

dict_keys(['USA', 'France', 'India'])
USA washington D.C France paris India New Delhi

In [12]:
capitals={"USA":"washington D.C","France":"paris","India":"New Delhi"}
print(capitals.values())
for i,j in capitals.items():
    print(i,j,end=" ")

dict_values(['washington D.C', 'paris', 'New Delhi'])
USA washington D.C France paris India New Delhi

In [13]:
#update dictionary
captains={"England":"ROOT","Australia":"Smith","India":"DHONI"}
print(captains)
captains['India']='VIRAT'
captains['Australia']='paine'
print(captains)

{'England': 'ROOT', 'Australia': 'Smith', 'India': 'DHONI'}
{'England': 'ROOT', 'Australia': 'paine', 'India': 'VIRAT'}

In [14]:
#if you use a new key and assign a value to it then it will add a new key-value pair into a dictionary.
captains={"England":"root","India":"virat"}
captains['SouthAfrica']='plessis'
print(captains)

{'England': 'root', 'India': 'virat', 'SouthAfrica': 'plessis'}

In [15]:
#del method
#Delete a key-value Pair
captains={'Australia':'paine','India':'Rohit','Srilanka':'Jaysurya'}
print(captains)
del captains['Australia']
print(captains)

{'Australia': 'paine', 'India': 'Rohit', 'Srilanka': 'Jaysurya'}
{'India': 'Rohit', 'Srilanka': 'Jaysurya'}

In [16]:
captains={'Australia':'paine','India':'Rohit','Srilanka':'Jaysurya'}
print(captains)
del captains['Australia']
print(captains)
del captains
print(captains)

{'Australia': 'paine', 'India': 'Rohit', 'Srilanka': 'Jaysurya'}
{'India': 'Rohit', 'Srilanka': 'Jaysurya'}

NameError: name 'captains' is not defined

In [17]:
#Multi-dimensional Dictionary
#let's assume there are three dictonary objects,as below:
d1={"name":"steve","age":25,"marks":60}
d2={"name":"Anil","age":69,"marks":65}
d3={"name":"Minku","age":24,"marks":99}
students={1:d1,2:d2,3:d3}
print(students)

{1: {'name': 'steve', 'age': 25, 'marks': 60}, 2: {'name': 'Anil', 'age': 69, 'marks': 65}, 3: {'name': 'Minku', 'age': 24, 'marks': 99}}

In [18]:
print(students[1])

{'name': 'steve', 'age': 25, 'marks': 60}

In [19]:
print(students[3])

{'name': 'Minku', 'age': 24, 'marks': 99}

In [20]:
#clear method
romanNum={'I':1,'II':2,'III':3,'IV':4,'V':5}
print("Ditionary",romanNum)
romanNum.clear()
print(romanNum)

Ditionary {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
{}

In [21]:
#copy() method
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
NEWRONAMNUMS=romanNums.copy()
print('original dictionary',romanNums)
print('copied dictionary',NEWRONAMNUMS)

original dictionary {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
copied dictionary {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

In [22]:
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
NEWRONAMNUMS=romanNums.copy()
del NEWRONAMNUMS['IV']
print('original dictionary',romanNums)
print('copied dictionary',NEWRONAMNUMS)

original dictionary {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
copied dictionary {'I': 1, 'II': 2, 'III': 3, 'V': 5}

In [23]:
#fromkeys() method
keys={'Mumbai','Banglore','Chicago','New york'}
value='CITY'
dictionary=dict.fromkeys(keys,value)
print(dictionary)

{'Mumbai': 'CITY', 'New york': 'CITY', 'Chicago': 'CITY', 'Banglore': 'CITY'}

In [24]:
keys={'Mumbai','Banglore','Chicago','New york'}
dictionary=dict.fromkeys(keys)
print(dictionary)

{'Mumbai': None, 'New york': None, 'Banglore': None, 'Chicago': None}

In [25]:
#items() method
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
dictview=romanNums.items()
print(dictview)

dict_items([('I', 1), ('II', 2), ('III', 3), ('IV', 4), ('V', 5)])

In [26]:
#keys() method
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
keys=romanNums.keys()
print(keys)

dict_keys(['I', 'II', 'III', 'IV', 'V'])

In [27]:
#pop() method
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
deletedvalue=romanNums.pop('V')
print("The poped element is:",deletedvalue)
print("Updated dictionary:",romanNums)

The poped element is: 5
Updated dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4}

In [28]:
deletedvalue=romanNums.pop('IV')
print("The poped element is:",deletedvalue)
print("Updated dictionary:",romanNums)

The poped element is: 4
Updated dictionary: {'I': 1, 'II': 2, 'III': 3}

In [29]:
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
deletedValue=romanNums.pop('VI')
print("The popped element is:",deletedValue)

KeyError: 'VI'

In [31]:
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
deletedValue=romanNums.pop('VI','NOT FOUND')
print("The popped element is:",deletedValue)
print("Updated dictionary:",romanNums)

The popped element is: NOT FOUND
Updated dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

In [32]:
#popitem() method
romanNum={'I':1,'II':2,'III':3}
print(romanNum.popitem())
print(romanNum.popitem())
print(romanNum.popitem())
print(romanNum.popitem())

('III', 3)
('II', 2)
('I', 1)

KeyError: 'popitem(): dictionary is empty'

In [33]:
#update() method
romanNums={'I':1,'III':3,'V':5}
print("Dictionary:",romanNums)
evenRomanNums={'II':2,'IV':4}
romanNums.update(evenRomanNums)
print("Updated Dictionary:",romanNums)

Dictionary: {'I': 1, 'III': 3, 'V': 5}
Updated Dictionary: {'I': 1, 'III': 3, 'V': 5, 'II': 2, 'IV': 4}

In [34]:
#values() method
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
values=romanNums.values()
print(values)

dict_values([1, 2, 3, 4, 5])

In [35]:
D={1:'Amit',2:'Suman',3:'Ravi',4:'Anuj'}
print(tuple(D))

(1, 2, 3, 4)

In [36]:
print(list(D))

[1, 2, 3, 4]

In [37]:
print(str(D))

{1: 'Amit', 2: 'Suman', 3: 'Ravi', 4: 'Anuj'}

In [38]:
D={1:['Amit',23,21],2:['Suman',56,87],3:'ravi',4:'Mahesh'}
m=D.get(2)
print(m[2])

87

In [39]:
D={1:['Amit',23,21],2:['Suman',56,87],3:'ravi',4:'Mahesh'}
print('Amit' in D[1])

True

In [40]:
#DICTIONARY COMPREHENSION

In [41]:
double={i:i*2 for i in range(10)}
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [42]:
square={i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [43]:
key=['one','two','three','four','five']
value=[1,2,3,4,5]

mydict={k:v for (k,v) in zip(key,value)}
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [45]:
mydict1={'a':10,'b':20,'c':30,'d':40,'e':50}
mydict1={k:v/10 for (k,v) in mydict1.items()}
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [47]:
str1="Natural Language Processing"
mydict2={k:v for (k,v) in enumerate(str1)}
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [50]:
str1="abcdefghijklmnopqrstuvwxyz"
mydict3={i:i.upper() for i in str1}
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}