In [1]:
#Default
def addition():
    a=int(input("enter the number"))
    b=int(input("enter the number"))
    c=a+b
    print("the sum is",c)

In [3]:
addition()
addition()

enter the number 76
enter the number 43

the sum is 119

enter the number 32
enter the number 84

the sum is 116

In [12]:
def intrest():
    p=int(input("enter the number"))
    r=int(input("enter the number"))
    q=int(input("enter the number"))
    si=p*q*r/100
    print("the intrest is;",si)

In [13]:
intrest()

enter the number 2000
enter the number 12
enter the number 23

the intrest is; 5520.0

In [14]:
def even_odd():
    n=int(input("enter the number"))
    if n%2==0:
        print("even number")
    else:
        print("odd number")

In [15]:
even_odd()

enter the number 56

even number

In [16]:
def vote_eligible():
    age=int(input("enter the age"))
    if age>=18:
        print("eligible to vote")
    else:
        print("not eligible to vote")

In [17]:
vote_eligible()

enter the age 25

eligible to vote

In [25]:
def vowel():
    ch=input("enter the character")
    if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u':
        print("vowel")
    elif ch=='A' or ch=='E'or ch=='I'or ch=='O'or ch=='U': 
        print("vowel")
    else:
        print('consonent')

In [28]:
vowel()
vowel()

enter the character u

vowel

enter the character w

consonent

In [31]:
def factorial():
    n=int(input("enter the number"))
    f=1
    while n>0:
        f=f*n
        n=n-1
    print("the factorial is",f)

In [32]:
factorial()

enter the number 9

the factorial is 362880

In [33]:
def prime_number():
    i=1
    n=int(input("enter the number"))
    co=0
    while i<=n:
        if n%i==0:
            co=co+1
        i=i+1
    if co==2:
        print("prime number")
    else:
        print("not prime number")

In [34]:
prime_number()

enter the number 77

not prime number

In [41]:
def list():
    ls=[]
    for i in range(10):
        n=int(input("enter the number"))
        ls.append(n)
    print(ls)

In [42]:
list()

enter the number 78
enter the number 43
enter the number 9
enter the number 6
enter the number 34
enter the number 21
enter the number 56
enter the number 87
enter the number 91
enter the number 12

[78, 43, 9, 6, 34, 21, 56, 87, 91, 12]

In [43]:
#argument
def add(a,b):
    c=a+b
    print("the sum is",c)

In [44]:
add(24,65)

the sum is 89

In [45]:
x=int(input("enter the number"))
y=int(input("enter the number"))
add(x,y)

enter the number 65
enter the number 69

the sum is 134

In [46]:
def intrest(p,q,r):
    si=p*q*r/100
    print("the intrest is",si)

In [48]:
intrest(200,45,7)

the intrest is 630.0

In [49]:
p=int(input('enter the number'))
q=int(input('enter the number'))
r=int(input('enter the number'))
intrest(p,q,r)

enter the number 2000
enter the number 12
enter the number 5

the intrest is 1200.0

In [1]:
def factors():
    i=1
    n=int(input("enter the number"))
    while i<=n:
        if n%i==0:
            print("the factors are",i)
        i=i+1

In [2]:
factors()

enter the number 18

the factors are 1
the factors are 2
the factors are 3
the factors are 6
the factors are 9
the factors are 18

In [18]:
def factors(n):
    i=1
    while i<=n:
        if n%i==0:
            print("the factors are",i)
        i=i+1

In [20]:
x=int(input("enter the number"))
factors(x)

enter the number 10

the factors are 1
the factors are 2
the factors are 5
the factors are 10

In [26]:
def prime_number(n):
    i=1
    co=0
    while i<=n:
        if n%i==0:
            co=co+1
        i=i+1
    if co==2:
        print("prime number")
    else:
        print("not a prime number")

In [27]:
x=int(input("enter the number"))
prime_number(x)

enter the number 17

prime number

In [30]:
def table(n):
    i=1
    while i<=10:
        f=n*i
        print("the table is",f)
        i=i+1

In [31]:
x=int(input("enter the number"))
table(x)

enter the number 15

the table is 15
the table is 30
the table is 45
the table is 60
the table is 75
the table is 90
the table is 105
the table is 120
the table is 135
the table is 150

In [32]:
def sum_of_digit(n):
    s=0
    while n>0:
        rem=n%10
        s=s+rem
        n=n//10
    print("the sum of digit",s)

In [33]:
x=int(input("enter the number"))
sum_of_digit(x)

enter the number 625

the sum of digit 13

In [40]:
def sum_of_digit():
    n=int(input("enter the number"))
    s=0
    while n>0:
        rem=n%10
        s=s+rem
        n=n//10
    print("the sum of digit",s)

In [45]:
sum_of_digit()

enter the number 3737

the sum of digit 20

In [46]:
def reverse():
    n=int(input("enter the number"))
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    print("the reverse of number is",rev)

In [47]:
reverse()

enter the number 37035

the reverse of number is 53073

In [52]:
def reverse(n):
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    print("the reverse of number is",rev)

In [53]:
x=int(input("enter the number"))
reverse(x)

enter the number 654

the reverse of number is 456

In [54]:
def pallendrome():
    n=int(input("enter the number"))
    rev=0
    n1=n
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    if n1==rev:
        print("pallendrome")
    else:
        print("Not a pallendrome")

In [56]:
pallendrome()

enter the number 737

pallendrome

In [57]:
def pallendrome(n):
    rev=0
    n1=n
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    if n1==rev:
        print("pallendrome")
    else:
        print("Not a pallendrome")

In [58]:
x=int(input("enter the number"))
pallendrome(x)

enter the number 111

pallendrome

In [61]:
#Return type
def sum(a,b):
    return a+b
c=sum(12,23)
print(c)
print(sum(12,23))

35
35

In [64]:
def mathop(a,b):
    return a+b,a-b,a*b,a/b
x=mathop(45,23)
print(x)

(68, 22, 1035, 1.9565217391304348)

In [65]:
x,y,z,w=mathop(45,23)
print("sum",x)
print("sub",y)
print("mul",z)
print("div",w)

sum 68
sub 22
mul 1035
div 1.9565217391304348

In [66]:
def even_odd(n):
    return n%2
x=even_odd(23)
if x==0:
    print("Even")
else:
    print("odd")

odd

In [67]:
def even_odd(n):
    if n%2==0:
        return "even"
    else:
        return "odd"
print(even_odd(78))
print(even_odd(75))

even
odd

In [78]:
def factorial(n):
    f=1
    while n>0:
        f=f*n
        n=n-1
    return f

In [77]:
x=factorial(6)
print(x)

720

In [79]:
print(factorial(8))

40320

In [80]:
def prime(n):
    i=1
    co=0
    while i<=n:
        if n%i==0:
            co=co+1
        i=i+1
    if co==2:
        return "prime"
    else:
        return "not a prime"

In [81]:
x=prime(17)
print(x)

prime

In [82]:
#placeholder argument
def add(a,b=80,c=45,d=23):
    return a+b+c+d
print(add(12))
print(add(87,78))
print(add(100,200,300))
print(add(12,34,54,67))

160
233
623
167

In [83]:
def interest(p=12000,r=5.6,t=7):
    return p*r*t/100
print(interest(5000))
print(interest(6000,5))
print(interest(56000,3,7))

1960.0
2100.0
11760.0

In [1]:
def reverse(n):
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    return rev
x=reverse(567)
print(x)

765

In [5]:
def pallendrome(n):
    rev=0
    n1=n
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    if n1==rev:
        return "pallendrom"
    else:
        return "not a pallendrome"
print(pallendrome(737))

pallendrom

In [6]:
def table(n):
    tb=[]
    for i in range(1,11):
        result=n*i
        tb.append(n*i)
    return tb
x=table(15)
print(x)

[15, 30, 45, 60, 75, 90, 105, 120, 135, 150]

In [4]:
def factors(n):
    f=[]
    for i in range(1,n+1):
        if n%i==0:
            f.append(i)
    return f
y=factors(25)
print(y)

[1, 5, 25]

In [6]:
def list1():
    ls=[]
    for i in range(10):
        n=int(input("enter the number"))
        ls.append(n)
    return ls
x=list1()
print(x)

enter the number 6
enter the number 5
enter the number 3
enter the number 8
enter the number 9
enter the number 1
enter the number 9
enter the number 3
enter the number 8
enter the number 3

[6, 5, 3, 8, 9, 1, 9, 3, 8, 3]

In [9]:
def list1():
    ls=[]
    for i in range(10):
        n=int(input("enter the number"))
        ls.append(n)
    
    ls_e=[]
    ls_o=[]
    for i in ls:
        if i%2==0:
            ls_e.append(i)
        
        else:
            ls_o.append(i)
    return ls_o,ls_e
    
x=list1()
print(x)

enter the number 76
enter the number 89
enter the number 53
enter the number 23
enter the number 13
enter the number 89
enter the number 60
enter the number 43
enter the number 14
enter the number 10

([89, 53, 23, 13, 89, 43], [76, 60, 14, 10])

In [4]:
#enumerate
s1="PYTHON"
list(enumerate(s1))

[(0, 'P'), (1, 'Y'), (2, 'T'), (3, 'H'), (4, 'O'), (5, 'N')]

In [5]:
s1="PYTHON"
list(enumerate(s1,5))

[(5, 'P'), (6, 'Y'), (7, 'T'), (8, 'H'), (9, 'O'), (10, 'N')]

In [6]:
s1="PYTHON"
list(enumerate(s1,start=5))

[(5, 'P'), (6, 'Y'), (7, 'T'), (8, 'H'), (9, 'O'), (10, 'N')]

In [9]:
l1=["DL","ML","NLP"]
list(enumerate(l1))

[(0, 'DL'), (1, 'ML'), (2, 'NLP')]

In [10]:
for i,j in enumerate(l1):
    if i<2:
        print(j,i)

DL 0
ML 1

In [12]:
#Zip function
a=["john","peter","Nishant"]
b=["jenny","ashwin"]

In [13]:
list(zip(a,b))

[('john', 'jenny'), ('peter', 'ashwin')]

In [14]:
a="Bhushan"
b="hssbmmfetqi"

In [18]:
list(zip(b,a,))

[('h', 'B'),
 ('s', 'h'),
 ('s', 'u'),
 ('b', 's'),
 ('m', 'h'),
 ('m', 'a'),
 ('f', 'n')]

In [2]:
number_list=[1,2,3,3]
str_list=['one','two','three','three']
result=zip(number_list,str_list)


#converting itertor to set
result_set=set(result)
result_set

{(1, 'one'), (2, 'two'), (3, 'three')}

In [20]:
numberlist=[1,2,3]
str_list=['one','two']
number_tuple=('one','two','three','four')
result=zip(numberlist,number_tuple)
list(result)
result1=zip(numberlist,number_tuple,str_list)
list(result1)

[(1, 'one', 'one'), (2, 'two', 'two')]

In [21]:
coordinate=['x','y','z']
value=[3,4,5]
result=zip(coordinate,value)
result_list=list(result)
result_list

c,v=zip(*result_list)

In [22]:
c

('x', 'y', 'z')

In [23]:
v

(3, 4, 5)

In [24]:
c,v

(('x', 'y', 'z'), (3, 4, 5))

In [26]:
a=['ashwin','jyoti','ashish']
b=[89,65,34]
for i,j in zip(a,b):
    if j>=65:
        print(i)

ashwin
jyoti

In [5]:
a=[1,5,8]
b=[4,3,2]
c=[6,7,5]

In [6]:
x=list(map(lambda x,y,z:x+y+z,a,b,c))
x

[11, 15, 15]

In [7]:
d=[]
for i,j,k in zip(a,b,c):
    d.append(i+j+k)
d

[11, 15, 15]

In [8]:
i,j,k=list(zip(a,b,c))

In [9]:
j

(5, 3, 7)

In [10]:
#sample string:'prospect'
# expected result:'pros$ect'
def getvalue(a):
    b=a[1:]
    return a[:1]+b.replace(a[0],"$")

In [11]:
getvalue('puppet')

'pu$$et'

In [4]:
s1="prospect"
s2=s1[1:]
print(s2)
s1[:1]+s2.replace(s1[0],"&") #p+ ros&ect

rospect

'pros&ect'

In [1]:
#sample string:'abc'
#expected result:'abcing'
#sample string:'string'
#expected result:'stringly'
s1=input("enter the string")
b=len(s1)
if b<=3:
    s1=s1+"ing"
else:
    s1=s1+"ly"
print(s1)

enter the string four

fourly