In [6]:
#by using list constructor
ls=list(("nishant",))
print(ls)

['nishant']

In [4]:
ls=list((12,23,3,4))
print(ls)

[12, 23, 3, 4]

In [2]:
#updation
ls=[12,23,34,45,56,67]
print(ls)
ls[2]='hello'

[12, 23, 34, 45, 56, 67]

34

In [6]:
#slice operator
ls=[12,23,34,545,667,78,98,76,54]
ls[-1:-5:-1]
#3 4 5 6 7

[54, 76, 98, 78]

In [2]:
ls[:8]
#from the begining

[12, 23, 34, 545, 667, 78, 98, 76]

In [3]:
ls[3:]
#strat from 3 end to the last

[545, 667, 78, 98, 76, 54]

In [4]:
ls[:]
#from the begining to last

[12, 23, 34, 545, 667, 78, 98, 76, 54]

In [6]:
ls=[12,23,34,45,56,67]
print(ls)
ls[3:6]=["how","are","you"]
print(ls)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 'how', 'are', 'you']

In [7]:
ls=[12,23,35,76,86,90,56,24,89,78]
print(ls[1:8:2]) #1 3 5 7
#(ls[start:end:step])

[23, 76, 90, 24]

In [8]:
#delete
ls=[12,34,45,65,76,68,97]
print(ls)
del ls[4]
print(ls)

[12, 34, 45, 65, 76, 68, 97]
[12, 34, 45, 65, 68, 97]

In [9]:
#pop()
ls=[12,34,45,65,76,68,97]
print(ls)
ls.pop(3)
print(ls)

[12, 34, 45, 65, 76, 68, 97]
[12, 34, 45, 76, 68, 97]

In [10]:
ls=[12,34,45,65,76,68,97]
print(ls)
ls.pop()
print(ls)

[12, 34, 45, 65, 76, 68, 97]
[12, 34, 45, 65, 76, 68]

In [11]:
ls.pop()
print(ls)

[12, 34, 45, 65, 76]

In [12]:
ls.pop()
print(ls)

[12, 34, 45, 65]

In [13]:
#del ls
rs=[45,65,76,88,98,34,78,89]
print(rs)
del rs
print(rs)

[45, 65, 76, 88, 98, 34, 78, 89]

NameError: name 'rs' is not defined

In [1]:
#remove
ls=[11,65,86,98,45,86,75]
print(ls)
ls.remove(45)
print(ls)

[11, 65, 86, 98, 45, 86, 75]
[11, 65, 86, 98, 86, 75]

In [14]:
#reverse without using rev function
ls=[12,65,87,56,87,57,98,78]
print(ls)
print(ls[::-1])

[12, 65, 87, 56, 87, 57, 98, 78]
[78, 98, 57, 87, 56, 87, 65, 12]

In [15]:
#append()
ls=[23,67,87,94,67,87,74]
print(ls)
ls.append(98)
print(ls)

[23, 67, 87, 94, 67, 87, 74]
[23, 67, 87, 94, 67, 87, 74, 98]

In [16]:
ls.append([58,78,96])
print(ls)

[23, 67, 87, 94, 67, 87, 74, 98, [58, 78, 96]]

In [17]:
#make your list of 10 element of choice
ls=[]
for i in range(10):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)

enter the number 76
enter the number 856
enter the number 90
enter the number 86
enter the number 54
enter the number 65
enter the number 34
enter the number 98
enter the number 98
enter the number 51

[76, 856, 90, 86, 54, 65, 34, 98, 98, 51]

In [2]:
#make the saperate list of even and odd numbers from a list.
ls=[]
for i in range(10):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
ls_e=[]
ls_o=[]
for i in ls:
    if i%2==0:
        ls_e.append(i)
    else:
        ls_o.append(i)
print("even numbers",ls_e)
print("odd numbers",ls_o)

enter the number 87
enter the number 90
enter the number 56
enter the number 53
enter the number 21
enter the number 80
enter the number 22
enter the number 70
enter the number 79
enter the number 12

[87, 90, 56, 53, 21, 80, 22, 70, 79, 12]
even numbers [90, 56, 80, 22, 70, 12]
odd numbers [87, 53, 21, 79]

In [4]:
#find the maximum element in the list
ls=[]
for i in range(10):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
print("maximum element is",max(ls))

enter the number 87
enter the number 98
enter the number 90
enter the number 45
enter the number 32
enter the number 34
enter the number 98
enter the number 43
enter the number 98
enter the number 23

[87, 98, 90, 45, 32, 34, 98, 43, 98, 23]
maximum element is 98

In [5]:
ls=[]
for i in range(10):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
M=ls[0]
for i in ls:
    if i>M:
        M=i
print("the maximum is",M)

enter the number 87
enter the number 55
enter the number 98
enter the number 90
enter the number 32
enter the number 809
enter the number 97
enter the number 63
enter the number 45
enter the number 56

[87, 55, 98, 90, 32, 809, 97, 63, 45, 56]
the maximum is 809

In [7]:
#find the minimum element in the list
ls=[]
for i in range(10):
    n=int(input("enter the value"))
    ls.append(n)
print(ls)
Mi=ls[0]
for i in ls:
    if i<Mi:
        Mi=i
print("the minimum value is",Mi)

enter the value 87
enter the value 87
enter the value 45
enter the value 90
enter the value 32
enter the value 85
enter the value 80
enter the value 38
enter the value 96
enter the value 51

[87, 87, 45, 90, 32, 85, 80, 38, 96, 51]
the minimum value is 32

In [10]:
#extend-it is used to insert more than one element at a time in the list.element is always inserted at the end of the list.
ls=[23,78,98,68,98,56,54,9,]
print(ls)
ls.extend((87,67,56))
print(ls)

[23, 78, 98, 68, 98, 56, 54, 9]
[23, 78, 98, 68, 98, 56, 54, 9, 87, 67, 56]

In [11]:
ls=[23,78,98,68,98,56,54,9,]
print(ls)
ls.extend([87,67,56])
print(ls)

[23, 78, 98, 68, 98, 56, 54, 9]
[23, 78, 98, 68, 98, 56, 54, 9, 87, 67, 56]

In [13]:
ls=[87,8,56,87,45,82,40,67,78]
print(ls)
l1=["hello","nishant","singh"]
ls.extend(l1)
print(ls)

[87, 8, 56, 87, 45, 82, 40, 67, 78]
[87, 8, 56, 87, 45, 82, 40, 67, 78, 'hello', 'nishant', 'singh']

In [15]:
#insert-by this method you can insert element at desired index
#syntax
#ls.insert(index,value)
ls=[78,98,56,34,98,82,65,89]
print(ls)
ls.insert(3,"NISHANT")
print(ls)

[78, 98, 56, 34, 98, 82, 65, 89]
[78, 98, 56, 'NISHANT', 34, 98, 82, 65, 89]

In [16]:
#clear-return empty list
ls=[34,76,34,56,32,87,"nishant",45,"semapur",69]
print(ls)
ls.clear()
print(ls)

[34, 76, 34, 56, 32, 87, 'nishant', 45, 'semapur', 69]
[]

In [17]:
#reverse-reverse the list with reverse function
ls=[78,78,56,98,45,78,87,89]
print(ls)
ls.reverse()
print(ls)

[78, 78, 56, 98, 45, 78, 87, 89]
[89, 87, 78, 45, 98, 56, 78, 78]

In [18]:
#sort-arrange the elements in ascending or descending order
ls=[78,78,56,98,45,78,87,89]
print(ls)
ls.sort()
print(ls)

[78, 78, 56, 98, 45, 78, 87, 89]
[45, 56, 78, 78, 78, 87, 89, 98]

In [20]:
#descending
ls=[78,78,56,98,45,78,87,89]
print(ls)
ls.sort(reverse=True)
print(ls)

[78, 78, 56, 98, 45, 78, 87, 89]
[98, 89, 87, 78, 78, 78, 56, 45]

In [21]:
#count=count the frequency of the element in the list
ls=[78,78,56,98,45,78,87,89,78,67,87,]
print(ls)
x=ls.count(78)
print(x)

[78, 78, 56, 98, 45, 78, 87, 89, 78, 67, 87]
4

In [23]:
#index=find the first occurance of the elemnent
ls=[78,78,56,98,45,78,87,89,78,67,87,]
print(ls)
x=ls.index(78)
print(x)

[78, 78, 56, 98, 45, 78, 87, 89, 78, 67, 87]
0

In [1]:
#copy method
ls=[12,54,76,87,45,87,97,54,43,87]
ls1=ls
print(ls)
print(ls1)
ls1[3]="Nishant"
print(ls)
print(ls1)

[12, 54, 76, 87, 45, 87, 97, 54, 43, 87]
[12, 54, 76, 87, 45, 87, 97, 54, 43, 87]
[12, 54, 76, 'Nishant', 45, 87, 97, 54, 43, 87]
[12, 54, 76, 'Nishant', 45, 87, 97, 54, 43, 87]

In [2]:
ls=[12,54,76,87,45,87,97,54,43,87]
ls1=ls.copy()
print(ls)
print(ls1)
ls[3]="Nishant"
print(ls)
print(ls1)

[12, 54, 76, 87, 45, 87, 97, 54, 43, 87]
[12, 54, 76, 87, 45, 87, 97, 54, 43, 87]
[12, 54, 76, 'Nishant', 45, 87, 97, 54, 43, 87]
[12, 54, 76, 87, 45, 87, 97, 54, 43, 87]

In [5]:
ls=["amit","sumit","naina"]
print(ls[1:-1])

['sumit']

In [5]:
#"*" is repetition in string list,tuple,set,ex-a*2=a*a
ls=["amit","sumit","naina"]
print(ls*2)

['amit', 'sumit', 'naina', 'amit', 'sumit', 'naina']

In [6]:
ls=["amit","sumit","naina"]
print(ls**2)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [7]:
ls=[0.5*x for x in range(4)]
print(ls)

[0.0, 0.5, 1.0, 1.5]

In [8]:
ls=['a'*x for x in range(4)]
print(ls)

['', 'a', 'aa', 'aaa']

In [1]:
ls=[2*x for x in range(10,1,-4)]
print(ls)

[20, 12, 4]

In [10]:
T=[1,2,3,4]
T1=[5,6,7]
L=T.append(T1)
print(L)

None

In [11]:
T=[1,2,3,4]
T1=[5,6,7]
T.append(T1)
print(T)

[1, 2, 3, 4, [5, 6, 7]]

In [12]:
L=[1,5,9]
print(sum(L)+max(L)-min(L))

23

In [13]:
L=[1,2,3,4,5,6,7,8,9,10]
print(L[L[3]])

5

In [14]:
L=[1,2,3,4,5,6,7,8,9,10]
print(L[len(L)-1])

10

In [4]:
print(1 in[[1],2,3])

False

In [16]:
print([]*2)

[]

In [4]:
L=["amit","sumit","ravi"]
print(L[1][4])

t

In [5]:
ls=["oman","maxy","Joseph"]
print(max(ls))

oman

In [ ]:
#LIST COMPREHENSION

In [1]:
mystring="WELCOME"
mylist=[i for i in mystring]
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [2]:
mylist1=[i for i in range(40) if i % 2==0]
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [3]:
mylist2=[i for i in range(40) if i % 2==1]
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [4]:
mylist3=[num**2 for num in range(10)]
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
#Extract numbers from a string
mystr="One 1 two 2 three 3 four 4 five 5 six 6789"
numbers=[i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [6]:
mystr="One 1 two 2 three 3 four 4 five 5 six 6789"
numbers=[i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']