In [2]:
#print your name 10 times
i=1
while i<=10:
    print("Nishant",end=" ")
    i=i+1

Nishant Nishant Nishant Nishant Nishant Nishant Nishant Nishant Nishant Nishant

In [2]:
#print first 10 natural numbers
i=1
while i<=10:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [18]:
#SUM OF FIRST 10 NATURAL NUMBER
i=1
s=0
while i<=10:
    s=s+i
    i=i+1
print("sum is",s) 


#s=s+i
#s=0+1=1
#s=1+2=3
#s=3+3=6
#s=6+4=10
#.
#.
#s=45+10=55

sum is 55

In [5]:
#print first n even numbers
n=int(input("enter the stop value"))
i=1
while i<=n:
     if i%2==0:
        print(i,end=" ")
     i=i+1

enter the stop value 50

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [2]:
#sum of enen/odd numbers
n=int(input("enter the stop value"))
i=1
se=0
so=0
while i<=n:
    if i%2==0:
        se=se+i
    else:
        so=so+i
    i=i+1
print("sum of even number is",se)
print("sum of odd number is",so)

enter the stop value 80

sum of even number is 1640
sum of odd number is 1600

In [4]:
#factorial of a given number
n=int(input("enter the number"))
f=1
while n>0:
    f=f*n
    n=n-1
print("the factorial is",f)

#n=5
#f=f*n
#f=1*5=5
#f=5*4=20
#f=20*3=60
#f=60*2=120
#f=120*1=120

enter the number 5

the factorial is 120

In [18]:
#factor or divisior of given number
#24--1 2 3 4 6 8 12 24

i=1
n=int(input("enter the number"))
while i<=n:
    if n%i==0:
        print(i,end=" ")
    i=i+1

enter the number 24

1 2 3 4 6 8 12 24

In [9]:
#prime number
i=1
n=int(input("enter the number"))
co=0
while i<=n:
    if n%i==0:
        co=co+1
    i=i+1
if co==2:
    print("prime number")
else:
    print("not a prime number")

enter the number 89

prime number

In [11]:
#table of given number
i=1
n=int(input("enter the number"))
while i<=10:
    print(n*i,end=" ")
    i=i+1

enter the number 19

19 38 57 76 95 114 133 152 171 190

In [14]:
i=1
n=int(input("enter the number"))
while i<=10:
   print(n,"*",i,"=",n*i,end=" ")
   i=i+1

enter the number 6

6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54 6 * 10 = 60

In [16]:
#sum of digits of a number
#765--7+6+5

n=int(input("enter the number"))
s=0
while n>0:
    rem=n%10
    s=s+rem
    n=n//10
print("the sum of digits is",s)

#n=7895
#rem=n%10
#s=s+rem
#n=n//10

#rem=5
#s=0+5=5
#n=789

#rem=9
#s=5+9=14
#n=78

#rem=8
#s=14+8=22
#n=7

#rem=7
#s=22+7=29
#n=0

enter the number 7654

the sum of digits is 22

In [19]:
#reverse of the number
n=int(input("enter the number"))
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
print("the reverse is",rev)

#n=726
#rem=n%10
#rev=rev*10+rem
#n=n//10

#rem=6
#rev=0*10+6=6
#n=72

#rem=2
#rev=6*10+2=62
#n=7

#rem=7
#rev=62*10+7=627
#n=0

enter the number 726

the reverse is 627

In [1]:
#pallendrome number
n=int(input("enter the value"))
rev=0
n1=n
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
if n1==rev:
    print("pallendrome number")
else:
    print("not a pallendrome number")

enter the value 525

pallendrome number