In [1]:
t1=(12,43,77,45,89,54)
print(t1)

(12, 43, 77, 45, 89, 54)

In [2]:
t1=([23,54,87,],[78,98,98,],[67,98,76])
print(t1)

([23, 54, 87], [78, 98, 98], [67, 98, 76])

In [3]:
t1=("How","are","you")
t1

('How', 'are', 'you')

In [4]:
t1=((5,7),(7,8))
t1

((5, 7), (7, 8))

In [2]:
#tuple constructor
t1=tuple("Nishant")
print(t1)

('N', 'i', 's', 'h', 'a', 'n', 't')

In [11]:
t1=12,54,69,54,99 #tuple packing
a,b,c,d,e=t1 #unpacking
print(a)
print(b)
print(c)
print(d)
print(e)

12
54
69
54
99

In [12]:
t2=(12)
print(type(t2))

<class 'int'>

In [13]:
t2=(12,)
print(type(t2))

<class 'tuple'>

In [14]:
#Accessing
t1=(12,5,56,89,44,59)
print(t1[0])
print(t1[3])
print(t1[-2])
print(t1[-1])

12
89
44
59

In [15]:
#upadte
t1=(12,54,75)
t2=("how","are","you")
print(t1+t2)

(12, 54, 75, 'how', 'are', 'you')

In [2]:
#index() method
t1=(23,65,86,46,97,56,87)
print(t1)
x=t1.index(56)
print(x)

(23, 65, 86, 46, 97, 56, 87)
5

In [17]:
#Adding one element in the tuple
t1=(1,43,67,89,43,98,34)
ls=list(t1)
ls.append(69)
t1=tuple(ls)
print(t1)

(1, 43, 67, 89, 43, 98, 34, 69)

In [18]:
#update an element in the tuple
t1=(1,43,67,89,43,98,34)
ls=list(t1)
ls[4]="Dawn"
t1=tuple(ls)
print(t1)

(1, 43, 67, 89, 'Dawn', 98, 34)

In [20]:
#del 
t1=(1,43,67,89,43,98,34)
del t1
print(t1)

NameError: name 't1' is not defined